* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* color pallette */
/* #be8180 old rose
#c0a98e tan
#575a4b army green
#122240 dark royal blue */

.social-container {
  padding: 25px 50px;
}